<header-component></header-component>
<div id="main">
    <div id="contenido">
        <div id="carrousel">
            <div class="gallery js-flickity" data-flickity-options='{ "wrapAround": true , "autoPlay": 3510, "selectedAttraction": 0.01,"friction": 0.3}'>
                <div class="gallery-cell-principal entrada1">
                    <img class="imagenCarrousel1" src="images/entrada1.jpg" alt="" width="94%">
                </div>
                <div class="gallery-cell-principal entrada2">
                    <img class="imagenCarrousel1" src="images/entrada2.jpg" alt="" width="94%">
                </div>
                <div class="gallery-cell-principal entrada3">
                    <img class="imagenCarrousel1" src="images/entrada3.jpg" alt="" width="94%">
                </div>
                <div class="gallery-cell-principal entrada4">
                    <img class="imagenCarrousel1" src="images/entrada4.jpg" alt="" width="94%">
                </div>
                <div class="gallery-cell-principal entrada5">
                    <img class="imagenCarrousel1" src="images/header3.jpg" alt="" width="94%">
                </div>
            </div>
        </div>
        <section id="comic">
            <div class="accordion">
                <dl>
                    <dt>
                        <a href="#accordion1" aria-expanded="true" aria-controls="accordion1" class="accordion-title accordionTitle js-accordionTrigger is-collapsed is-expanded">
                            DESTACADOS</a>
                    </dt>
                    <dd class="accordion-content accordionItem is-expanded animateIn" id="accordion1" aria-hidden="false">
                        <div style="overflow-y:hidden">
                            <div>
                                <div class="carousel" data-flickity='{ "wrapAround": true , "freeScroll": true , "groupCells" : 3 , "pageDots": false, "percentPosition": false}'>
                                    <div class="carousel-cell" ng-repeat="fila in ajaxDataComicDestacados track by $index"
                                        ng-if="fila.descuento == 0">
                                        <div style="background: url('images/{{fila.foto}}');" ng-style="estiloComic"
                                            class="portada">
                                            <a href="user/comic/view/{{fila.id}}" style="color: white">
                                                <div class="vistaCuadrado1">
                                                    VISTA RÁPIDA
                                                </div>
                                            </a>
                                        </div>
                                        <div class="titulo1" ng-bind="fila.titulo">
                                        </div>
                                        <div class="precio1">
                                            {{fila.precio.toFixed(2)}} €
                                        </div>
                                        <div class="cestacomic" ng-click="add(fila.id, $event)" ng-if="fila.existencias !== 0">
                                            AÑADIR A LA CESTA
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </dd>

                    <dt>
                        <a href="#accordion2" aria-expanded="false" aria-controls="accordion2" class="accordion-title accordionTitle js-accordionTrigger">
                            MÁS VENDIDOS</a>
                    </dt>

                    <dd class="accordion-content accordionItem is-collapsed" id="accordion2" aria-hidden="true">
                        <div style="overflow-y:hidden">
                            <div class="carousel center" data-flickity='{"pageDots": false, "percentPosition": false , "contain": true, "prevNextButtons": false, "cellAlign": "left"}'>
                                <div class="carousel-cell" ng-repeat="fila in ajaxDataComicMasVendidos track by $index">
                                    <div style="background: url('images/{{fila.obj_Comic.foto}}');" ng-style="estiloComic"
                                        class="portada">
                                        <a href="user/comic/view/{{fila.obj_Comic.id}}" style="color: white">
                                            <div class="vistaCuadrado1">
                                                VISTA RÁPIDA
                                            </div>
                                        </a>
                                    </div>
                                    <div class="titulo1" ng-bind="fila.obj_Comic.titulo">
                                    </div>
                                    <div class="precio1">
                                        {{fila.obj_Comic.precio.toFixed(2)}} €
                                    </div>
                                    <div class="cestacomic" ng-click="add(fila.obj_Comic.id, $event)" ng-if="fila.obj_Comic.existencias !== 0">
                                        AÑADIR A LA CESTA
                                    </div>
                                </div>
                            </div>
                        </div>
                    </dd>

                    <dt>
                        <a href="#accordion3" aria-expanded="false" aria-controls="accordion3" class="accordion-title accordionTitle js-accordionTrigger">
                            DESCUENTOS
                        </a>
                    </dt>

                    <dd class="accordion-content accordionItem is-collapsed" id="accordion3" aria-hidden="true">
                        <div style="overflow-y:hidden">
                            <div>
                                <div class="carousel center" data-flickity='{"pageDots": false, "percentPosition": false , "contain": true, "prevNextButtons": false, "cellAlign": "left"}'>
                                    <div class="carousel-cell2" ng-repeat="fila in ajaxDataComics track by $index"
                                        ng-if="fila.descuento !== 0">
                                        <div style="background: url('images/{{fila.foto}}');" ng-style="estiloComic"
                                            class="portada">
                                            <a href="user/comic/view/{{fila.id}}" style="color: white">
                                                <div class="vistaCuadrado1">
                                                    VISTA RÁPIDA
                                                </div>
                                            </a>
                                        </div>
                                        <div class="titulo1" ng-bind="fila.titulo">
                                        </div>
                                        <div class="pp">
                                            <div class="preci1DN" ng-bind="fila.precio.toFixed(2)">
                                            </div>
                                            <div class="precio1D">
                                                {{ ((fila.precio) - (fila.precio * fila.descuento / 100)).toFixed(2) }} €
                                            </div>
                                        </div>
                                        <div class="cestacomic" ng-click="add(fila.id, $event)" ng-if="fila.existencias !== 0">
                                            AÑADIR A LA CESTA
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </dd>
                </dl>
            </div>
        </section>

    </div>






</div>

<footer class="footer" ng-include="'js/app/footer.html'"></footer>