<header-component></header-component>

<!-- <div id="busqueda">
    <div class="container-fluid MUpBot">
        <h1 class="md-title">BÚSQUEDA</h1>
        <div class="col-5">
            <md-input-container>
                <label>Géneros</label>
                <md-select style="max-width: 250px" ng-model="seleccionarGenero" data-md-container-class="selectdemoSelectHeader "
                    multiple="">
                    <md-select-header class="demo-select-header">
                        <input type="text" placeholder="Busca su género" class="demo-header-searchbox _md-text"
                            ng-model="generos" onkeydown="event.stopPropagation()">
                    </md-select-header>
                    <md-optgroup label="generos">
                        <md-option ng-value="fila.id" ng-repeat="fila in ajaxDatoComicGenero| orderBy: 'desc' | filter:generos "
                            ng-required="true">{{fila.desc}}</md-option>
                    </md-optgroup>
                </md-select>
            </md-input-container>
        </div>
    </div> -->

<div class="container-fluid">
    <div class="row MUpBot">
        <div class="col-sm-12 col-md-3">
            <h1 class="h2"><i class="fa fa-book-open"></i> Comics</h1>
        </div>

        <!-- <div class="col-sm-auto col-md-auto ml-auto align-self-center">
            Selecciona RPP:
        </div>
        <div class="col-sm-2 col-md-2 align-self-center" style="width:200px;">
            <select class="form-control" ng-change="update()" ng-model="rpp" ng-options="value for value in select">
            </select>
        </div> -->

        <div class="col-sm-auto col-md-3 ml-auto align-self-center justify-content-end">
            <md-autocomplete md-selected-item="selectedItem" md-search-text="comic" md-items="item in ajaxDataProductos | filter:comic"
                md-item-text="item.titulo" placeholder="Busca tu cómic !">
                <md-item-template>
                    <span md-highlight-text="comic">{{item.titulo}}</span>
                </md-item-template>
                <md-not-found>
                    No se encontrado el cómic "{{comic}}"".
                </md-not-found>
            </md-autocomplete>
        </div>


        <div class="col-sm-auto col-md-auto align-self-center justify-content-end">
            <div style="background: lightgreen; padding: 10px; border-radius: 5px; font-size: 15px; cursor: pointer; display: inline-block"
                ng-click="busquedaAvanzada($event)">Búsqueda Avanzada
            </div>

            <button class="btn btn-secondary" style="margin-left: 5px; display: inline-block; padding: 11px; font-size: 15px"
                ng-click="recargar()"><i class="fas fa-redo-alt"></i></button>
        </div>


    </div>




    <div class="row justify-content-between" ng-show="!errorBusqueda">
        <div class="col-12 col-sm-7 col-md-auto">
            <nav aria-label="paginacion">
                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link" ng-show="page > 1" href="user/{{ob}}/plist/{{rpp}}/{{page - 1}}/{{orderURLCliente}}">Anterior</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" ng-show="page > 2" href="user/{{ob}}/plist/{{rpp}}/1/{{orderURLCliente}}">1</a>
                    </li>
                    <li class="page-item" ng-class="{'active':(p == page), 'disabled': p === '...'}" ng-repeat="p in list2 track by $index">
                        <a class="page-link" href="user/{{ob}}/plist/{{rpp}}/{{p}}/{{orderURLCliente}}">{{p}}</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" ng-show="page != totalPages - 1 && page != totalPages" href="user/{{ob}}/plist/{{rpp}}/{{totalPages}}/{{orderURLCliente}}">{{totalPages}}</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" ng-show="page != totalPages" href="user/{{ob}}/plist/{{rpp}}/{{page--1}}/{{orderURLCliente}}">Siguiente</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>


    <div class="grid-container" ng-show="!errorBusqueda">
        <div class="grid-item" ng-repeat="fila in ajaxDataProductos | filter:comic" style="text-align: center;" title="{{fila.titulo}}">
            <div class="portada" style="background: url('images/{{fila.foto}}');" ng-style="estiloComic" ng-class="{'desactivado': fila.existencias == 0 }">

                <div ng-if="fila.descuento != 0">
                    <img src="images/etiqueta.png" alt="etiqueta" width="80px" style="margin-left: 80%; display: inline">
                    <p style="color:white; font-size: 24px; transform: rotate(10deg);display: inline-block; margin-top: -30%; margin-right: -100%">{{fila.descuento}}
                        %</p>
                    <a href="user/comic/view/{{fila.id}}" style="color: white;">
                        <div class="vistaCuadrado1" style="margin: -20% 18% 0% !important">
                            VISTA RÁPIDA
                        </div>
                    </a>
                </div>


                <div ng-if="fila.descuento == 0">
                    <a href="user/comic/view/{{fila.id}}" style="color: white">
                        <div class="vistaCuadrado1">
                            VISTA RÁPIDA
                        </div>
                    </a>
                </div>
            </div>
            <div class="titulo1" ng-bind="fila.titulo">
            </div>
            <div class="precio1" ng-if="fila.descuento == 0">
                {{fila.precio.toFixed(2)}} €
            </div>

            <div class="pp" ng-if="fila.descuento !== 0">
                <div class="preci1DN">
                    {{fila.precio.toFixed(2)}} €
                </div>
                <div class="precio1D">
                    {{ ((fila.precio) - (fila.precio * fila.descuento / 100)).toFixed(2) }} €
                </div>
            </div>

            <div class="cestacomic" ng-click="add(fila.id,$event)" ng-if="fila.existencias !== 0" style="margin-left: 10px;">
                AÑADIR A LA CESTA
            </div>
            <div class="" ng-click="add(fila.id,$event)" ng-if="fila.existencias == 0" style="margin-left: 10px;">
            </div>
        </div>
    </div>


    <div ng-show="errorBusqueda" class="row justify-content-center">
        <div class="alert alert-primary col-5" style="text-align: center">
            No se ha encontrado ningún cómic</a>
        </div>
    </div>



    <div class="row justify-content-between" style="margin-top: 30px" ng-show="!errorBusqueda">
        <div class="col-12 col-sm-7 col-md-auto">
            <nav aria-label="paginacion">
                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link" ng-show="page > 1" href="user/{{ob}}/plist/{{rpp}}/{{page - 1}}/{{orderURLCliente}}">Anterior</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" ng-show="page > 2" href="user/{{ob}}/plist/{{rpp}}/1/{{orderURLCliente}}">1</a>
                    </li>
                    <li class="page-item" ng-class="{'active':(p == page), 'disabled': p === '...'}" ng-repeat="p in list2 track by $index">
                        <a class="page-link" href="user/{{ob}}/plist/{{rpp}}/{{p}}/{{orderURLCliente}}">{{p}}</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" ng-show="page != totalPages - 1 && page != totalPages" href="user/{{ob}}/plist/{{rpp}}/{{totalPages}}/{{orderURLCliente}}">{{totalPages}}</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" ng-show="page != totalPages" href="user/{{ob}}/plist/{{rpp}}/{{page--1}}/{{orderURLCliente}}">Siguiente</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
<!-- </div> -->
<footer class="footer" ng-include="'js/app/footer.html'"></footer>