<header-component></header-component>
<div style="margin: 1.8% 0 0 1.8%">
    <a href="javascript:window.history.back();"> <button class="btn btn-success" style="margin-bottom: 10px;"> Volver</button>
    </a>
</div>

<div id="main">
    <div id="contenidoVista">
        <div id="vista">
            <div class="portadaVista">
                <img ng-src="images/{{ajaxDatoComic.foto}}" height="400px" style="border: 5px outset black;" alt="">
            </div>
            <div class="todoVista">
                <div class="portadaTitulo">
                    {{ajaxDatoComic.titulo}}
                    <span class="badge badge-dark" ng-repeat="genero in ajaxDatoComicGenero | orderBy:'obj_genero.desc'" style="margin-left: 2%; font-size: 0.5em">
                        {{genero.obj_genero.desc}}
                    </span>
                </div>
                <div class="portadaDescripcion">
                    {{ajaxDatoComic.desc}}
                </div>
                <div class="preciV" ng-if="ajaxDataComic.descuento == 0"> {{ajaxDatoComic.precio.toFixed(2)}} €</div>
                <div class="preciV" ng-if="ajaxDataComic.descuento !== 0"> 
                  {{ ((ajaxDatoComic.precio) - (ajaxDatoComic.precio * ajaxDatoComic.descuento / 100)).toFixed(2) }} €</div>
                <div class="cestV" ng-click="add(ajaxDatoComic.id,$event)" ng-class="{'disabled': ajaxDatoComic.existencias == 0 }"
                    style="margin-left: 10px;">
                    AÑADIR CESTA
                </div>
            </div>

        </div>


        <div id="interes">
            <div class="accordion">
                <dl>
                    <dt>
                        <a href="#accordion1" aria-expanded="true" aria-controls="accordion1" class="accordion-title accordionTitle js-accordionTrigger is-collapsed is-expanded">
                            DESTACADOS</a>
                    </dt>
                    <dd class="accordion-content accordionItem is-expanded animateIn" id="accordion1" aria-hidden="false">
                        <div style="overflow-y:hidden">
                            <div>
                                <div class="carousel" data-flickity='{ "wrapAround": true , "freeScroll": true , "groupCells" : 3 , "pageDots": false, "percentPosition": false}'>
                                    <div class="carousel-cell" ng-repeat="fila in ajaxDataComicDestacados track by $index"
                                        ng-if="fila.descuento == 0">
                                        <div style="background: url('images/{{fila.foto}}');" ng-style="estiloComic"
                                            class="portada">
                                            <a href="user/comic/view/{{fila.id}}" style="color: white">
                                                <div class="vistaCuadrado1">
                                                    VISTA RÁPIDA
                                                </div>
                                            </a>
                                        </div>
                                        <div class="titulo1" ng-bind="fila.titulo">
                                        </div>
                                        <div class="precio1">
                                            {{fila.precio.toFixed(2)}} €
                                        </div>
                                        <div class="cestacomic" ng-click="add(fila.id, $event)" ng-if="fila.existencias !== 0">
                                            AÑADIR A LA CESTA
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </dd>

                </dl>
            </div>
        </div>
    </div>

</div>
<footer class="footer" ng-include="'js/app/footer.html'"></footer>