<header-component></header-component>

<div class="container">
    <form name="userForm" style="margin-top: 80px;" ng-show="formulario">
        <div class="form-group row justify-content-center">            
            <div class="col-sm-10 col-md-6">
                <label for="dni">DNI</label>
                <input type="text" class="form-control" name="dni" id="dni" placeholder="Introduce tu DNI" ng-model="dni" 
                       ng-pattern="/^[0-9]{8}[TRWAGMYFPDXBNJZSQVHLCKE]$/"   ng-required="true" ng-class="{ 'is-invalid' : userForm.dni.$invalid && !userForm.dni.$pristine, 'is-valid' :userForm.dni.$valid && !userForm.dni.$pristine}" ng-keyup="$event.keyCode == 13 && log()"/>                
                <div ng-show="!userForm.dni.$valid && !userForm.dni.$pristine && !userForm.dni.$error.pattern" class="alert alert-danger" role="alert">
                    DNI obligatorio
                </div>
                <div ng-show="userForm.dni.$error.pattern" class="alert alert-danger" role="alert">
                    DNI no válido
                </div>
            </div>
        </div>   

        <div class="form-group row justify-content-center">            
            <div class="col-sm-10 col-md-6">
                <label for="nombre">Nombre</label>
                <input type="text" class="form-control" name="nombre" id="nombre" placeholder="Introduce tu nombre" ng-model="nombre" 
                       ng-pattern="/^[a-zA-ZñÑáéíóúÁÉÍÓÚ\s]+$/" ng-required="true" ng-class="{ 'is-invalid' : userForm.nombre.$invalid && !userForm.nombre.$pristine, 'is-valid' :userForm.nombre.$valid && !userForm.nombre.$pristine}" ng-keyup="$event.keyCode == 13 && log()"/>                
                <div ng-show="!userForm.nombre.$valid && !userForm.nombre.$pristine && !userForm.nombre.$error.pattern" class="alert alert-danger" role="alert">
                    Nombre obligatorio
                </div>
                <div ng-show="userForm.nombre.$error.pattern" class="alert alert-danger" role="alert" >
                    Nombre no válido
                </div>
            </div>
        </div>   

        <div class="form-group row justify-content-center">            
            <div class="col-sm-10 col-md-3">
                <label for="apellido">Primer Apellido</label>
                <input type="text" class="form-control" name="apellido" id="apellido" placeholder="Introduce tu primer apellido" ng-model="apellido" 
                       ng-pattern="/^[a-zA-ZñÑáéíóúÁÉÍÓÚ\s]+$/"  ng-required="true" ng-class="{ 'is-invalid' : userForm.apellido.$invalid && !userForm.apellido.$pristine, 'is-valid' :userForm.apellido.$valid && !userForm.apellido.$pristine}" ng-keyup="$event.keyCode == 13 && log()"/>                
                <div ng-show="!userForm.apellido.$valid && !userForm.apellido.$pristine && !userForm.apellido.$error.pattern" class="alert alert-danger" role="alert">
                    Primer apellido obligatorio
                </div>
                <div ng-show="userForm.apellido.$error.pattern" class="alert alert-danger" role="alert" >
                    Primer apellido no válido
                </div>
            </div>
            <div class="col-sm-10 col-md-3">
                <label for="apellido2">Segundo Apellido</label>
                <input type="text" class="form-control" name="apellido2" id="apellido2" placeholder="Introduce tu segundo apellido" ng-model="apellido2" 
                       ng-pattern="/^[a-zA-ZñÑáéíóúÁÉÍÓÚ\s]+$/" ng-required="true" ng-class="{ 'is-invalid' : userForm.apellido2.$invalid && !userForm.apellido2.$pristine, 'is-valid' :userForm.apellido2.$valid && !userForm.apellido2.$pristine}" ng-keyup="$event.keyCode == 13 && log()"/>
                <div ng-show="!userForm.apellido2.$valid && !userForm.apellido2.$pristine && !userForm.apellido2.$error.pattern" class="alert alert-danger" role="alert">
                    Segundo apellido obligatorio
                </div>
                <div ng-show="userForm.apellido2.$error.pattern" class="alert alert-danger" role="alert" >
                    Segundo apellido no válido
                </div>
            </div>
        </div>   

        <div class="form-group row justify-content-center">            
            <div class="col-sm-10 col-md-6">
                <label for="login">Nombre de usuario</label>
                <input type="text" class="form-control" name="login" id="login" placeholder="Introduce tu nombre de usuario" ng-model="login" 
                       ng-required="true" ng-class="{ 'is-invalid' : userForm.login.$invalid && !userForm.login.$pristine, 'is-valid' :userForm.login.$valid && !userForm.login.$pristine}" ng-keyup="$event.keyCode == 13 && log()"/>                
                <div ng-show="!userForm.login.$valid && !userForm.login.$pristine" class="alert alert-danger" role="alert">
                    Nombre de usuario obligatorio
                </div>
            </div>
        </div>   


        <div class="form-group row justify-content-center">            
            <div class="col-sm-10 col-md-6">
                <label for="email">Email</label>
                <input type="text" class="form-control" name="email" id="email" placeholder="Introduce tu email" ng-model="email" 
                       ng-required="true" ng-class="{ 'is-invalid' : userForm.email.$invalid && !userForm.email.$pristine, 'is-valid' :userForm.email.$valid && !userForm.email.$pristine}" ng-keyup="$event.keyCode == 13 && log()" ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/" />
                <div ng-show="userForm.email.$invalid && !userForm.email.$pristine && !userForm.email.$error.pattern" class="alert alert-danger" role="alert">
                    Email obligatorio
                </div>
                <div ng-show="userForm.email.$error.pattern" class="alert alert-danger" role="alert">
                    Email no válido
                </div>
            </div>
        </div>   



        <div class="form-group row justify-content-center">            
            <div class="col-sm-10 col-md-6">
                <label for="pass">Contraseña</label>
                <input type="password" class="form-control" name="pass" id="pass" 
                       ng-class="{ 'is-invalid' : userForm.pass.$invalid && !userForm.pass.$pristine, 'is-valid' :userForm.pass.$valid && !userForm.pass.$pristine}" placeholder="Introduce tu contraseña" ng-model="pass" ng-required="true" ng-keyup="$event.keyCode == 13 && log()"/>
                <div ng-show="!userForm.pass.$valid && !userForm.pass.$pristine" class="alert alert-danger" role="alert">
                    La contraseña es obligatoria.
                </div>

                <button type="button" class="btn btn-primary" ng-disabled="userForm.$invalid" ng-click="register()" style="margin-top: 10px;">Aceptar</button>
                <a href="login">    <button type="button" class="btn btn-warning" style="margin-top: 10px;">Cancelar</button> </a>
                <!--                <button type="reset" class="btn btn-danger" ng-click="log()" style="margin-top: 10px;">Limpiar</button>-->

            </div>
        </div>        


    </form>
    <div class="row justify-content-center">
        <div class="col-sm-10 col-md-6">            
            <div class="alert alert-danger" role="alert" ng-show="errorLogin">
                Te has equivocado.
            </div>

        </div>
    </div>

    <div class="form-group row justify-content-md-center">
        <div class="col-sm-10 col-md-6">
            <div ng-show="yesLogin" style="margin-top: 80px">
                <div class="alert alert-success" role="alert">
                    <i class="fa fa-grin-beam"> Verifica tu correo</i> 
                </div>
            </div>
        </div>
    </div>

</div>
<footer class="footer" ng-include="'js/app/footer.html'"></footer>