<header-component></header-component>
<main role="main" class="container">

    <!--    <h3>Resultado de la llamada AJAX: {{ajaxData}}</h3>-->
    <div class="primeraParte"></div>
    <a href="javascript:window.history.back();"> <button class="btn btn-success" style="margin-bottom: 10px;"> Volver</button> </a>
    <table class="table table-striped table-hover table-bordered">        
        <caption> <i class="fas fa-book-open"></i> View de comic</caption>
        <tr>
            <th>ID</th>
            <th>{{ajaxDatoComic.id}}</th>
        </tr>   
        <tr>
            <th>TÍTULO</th>
            <td>{{ajaxDatoComic.titulo}}</td>
        </tr>
        <tr>
            <th>DESCRIPCIÓN</th>
            <td>{{ajaxDatoComic.desc}}</td>        
        </tr>

        <tr>

        <tr>
            <th  style="margin: 30px">GÉNEROS</th>
            <td>
                <span class="padTabla"
                      ng-repeat="fila in ajaxDatoComicGenero track by $index">
                    <a href="genero/view/{{fila.obj_genero.id}}"> {{fila.obj_genero.desc}}</a>
                </span>

            </td>
        </tr>        


        <tr>
            <th  style="margin: 30px">AUTORES</th>
            <td>
                <span class="padTabla" ng-repeat="fila in ajaxDatoAutorEspecialidad | orderBy: 'obj_autor.nombre'">
                    <a href="autor/view/{{fila.obj_autor.id}}"> {{fila.obj_autor.nombre}} </a> ({{fila.obj_especialidad.desc}}) 
                </span>

            </td>
        </tr>       

        <tr>
            <th  style="margin: 30px">EDITORIALES</th>
            <td>
                <span class="padTabla"
                      ng-repeat="fila in ajaxDatoComicEditorial track by $index">
                    <a href="editorial/view/{{fila.obj_editorial.id}}"> {{fila.obj_editorial.desc}} </a>
                </span>

            </td>
        </tr>     

        <tr>
            <th  style="margin: 30px">IDIOMA</th>
            <td>
                <span class="padTabla"
                      ng-repeat="fila in ajaxDatoComicIdioma track by $index">
                    <a href="idioma/view/{{fila.obj_idioma.id}}">  {{fila.obj_idioma.desc}} </a>
                </span>

            </td>
        </tr>  


        <tr>
            <th>ISBN</th>
            <td>{{ajaxDatoComic.isbn}}</td>        
        </tr>

        <tr>
            <th>FECHA PUBLICACIÓN</th>
            <td>{{fechaformato}}</td>        
        </tr>
        <tr>
            <th>PÁGINAS</th>
            <td>{{ajaxDatoComic.pagina}}</td>        
        </tr>

        <tr>
            <th>COLOR</th>
            <td>{{true == ajaxDatoComic.color ? 'Sí' : ' No'}}</td>                 
        </tr>

        <tr>
            <th>EXISTENCIAS</th>
            <td>{{ajaxDatoComic.existencias}}</td>
        </tr>
        <tr>
            <th>PRECIO</th>
            <td>{{ajaxDatoComic.precio.toFixed(2)}} €</td>
        </tr>

        <tr>
            <th>DESCUENTO</th>
            <td>{{0 !== ajaxDatoComic.descuento ? ajaxDatoComic.descuento : 'No'}}</td>                 
        </tr>

        <tr>
            <th>IMAGEN</th>
            <td>{{ajaxDatoComic.foto}} <a target="_blank" href="http://localhost:8081/images/{{ajaxDatoComic.foto}}"> <img id="output" src="images/{{ajaxDatoComic.foto}}" alt="default" style="width: 67px; height: 80px;"/></a></td>            
        </tr>

        <tr>
            <th>DESTACADO</th>
            <td>{{true == ajaxDatoComic.destacado ? 'Sí' : ' No'}}</td>                 
        </tr>

        <tr>
            <th>COLECCION</th>      
            <td  ng-if="ajaxDatoComic.obj_coleccion === undifined"><a href="coleccion/create">NINGUNA</a></td>
            <td><a href="coleccion/view/{{ajaxDatoComic.obj_coleccion.id}}">{{ajaxDatoComic.obj_coleccion.desc}}</a></td>
        </tr> 


    </table>
</main>
<footer class="footer" ng-include="'js/app/footer.html'"></footer>